<div class="row">
  <div class="col-6 mx-5">
    <p>Title:{{name}}</p>
    <p>Posted by: {{user.name}}  on {{format_date date_created}}</p>
    <p>{{description}}</p>
  

{{#if logged_in}}
<div>
  <button>Leave Comment</button>
</div>
{{/if}}
</div>


<div class="col-4" style="visibility:visible">
{{#if comments.length}}
{{#each comments as |comment| }}
<div> <p> {{comment_text}} </p><p>Posted by: {{../user.name}}</p>   </div>
  {{/each}}
{{/if}}
      <form class="form comment-form" style="visibility:visible">
      <div class="form-group">
        <label for="comment-body">Comment:</label>
        <input class="form-input" type="text" id="comment-body" />
      </div>
      
      
        <button class="btn btn-primary" type="submit">Create Comment</button>
     
    </form>

</div>



</div>


</div>

<script src="/js/comment.js"></script>